@use "../abstracts" as *;

.nav {
    &__list {
        align-self: stretch;
        display: flex;

        @include respond(small) {
            background-color: rgba(0, 0, 0, 0.98);
            opacity: 0;
            position: fixed;
            left: -100%;
            flex-direction: column;
            width: 100%;
            height: 100vh;
            text-align: center;
            transition: all 0.7s ease-out 0.1s;
            justify-content: center;

            &.active {
                opacity: 1;
                left: 0;
                height: 100vh;
                transition: all 0.7s ease-out 0.1s;
            }
        }
    }

    &__item {
        display: flex;
        align-items: center;
        transition: all 0.2s;

        &:not(:first-child) {
            margin-left: min(4vw, 6rem);

            @include respond(small) {
                margin-left: 0;
            }
        }
        &:hover {
            transform: translateY(-3px);
        }

        @include respond(small) {
            justify-content: center;

            &:not(:last-child) {
                margin-bottom: 4rem;
            }
        }
    }

    &__link {
        align-self: stretch;
        display: flex;
        align-items: center;
    }

    &__logo {
        align-self: center;
        height: 3.5rem;
        width: 5.5rem;
        // border-radius: 50%;

        &__link {
            align-self: stretch;
            display: flex;
        }
    }

    &__hamburger {
        align-self: stretch;
        display: none;
        align-items: center;
        // transition: all 10s;

        @include respond(small) {
            display: flex;
        }

        &__bar {
            position: relative;
            content: "";
            display: block;
            width: 40px;
            height: 3px;
            background-color: $color-primary;
            // transition: all 10sec;

            &::after,
            &::before {
                content: "";
                top: 50%;
                left: 0%;
                width: 40px;
                height: 3px;
                background-color: $color-primary;
                position: absolute;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
                transition: 0.5s;
            }
            &::after {
                top: 13px;
            }
            &::before {
                top: -13px;
            }
        }

        &.active .nav__hamburger__bar {
            background: rgba(0, 0, 0, 0);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
        }

        &.active .nav__hamburger__bar::before {
            top: 0;
            transform: rotate(135deg);
            box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
        }

        &.active .nav__hamburger__bar::after {
            top: 0;
            transform: rotate(225deg);
            box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
        }
    }
}
